<div class="table-responsive">
    <div class="d-flex col-lg-6">
        <select class="form-select"[(ngModel)]="TypeOfSearch" >
            <option [value]="'Enter id...'" default>ID</option>
            <option [value]="'Enter Name...'" >Name</option>
            <option [value]="'Enter Description...'">Description</option>
            <option [value]="'Enter Amount...'">Amount</option>
        </select>
        <input class="form-control" type="text" placeholder="{{TypeOfSearch}}" [(ngModel)]="_input">
    </div>
    <table class="table table-striped table-bordered table-hover text-center">
        <thead>
        <tr>
            <th >ID:</th>
            <th >Name</th>
            <th >Description</th>
            <th >Amount of People</th>
            <th >Edit</th>
            <th >Delete</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let project of Data_Projects_Tmp | paginate:{ itemsPerPage:itemsPerPage,currentPage:p}">
                <td >{{project.id}}</td>
                <td >{{project.name}}</td>
                <td >{{project.description}}</td>
                <td >{{AmountDisplay(project.name)}}</td>
                <td><button type="button" class="btn btn-warning" >Edit</button></td>
                <td><button type="button" class="btn btn-danger" >Delete</button></td>
            </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-success mx-2" style="float: right;" (click)="openModal(ModalAddProjects)">Add Project</button>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
<div class="modal fade" id="ModalAddProjects" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Project</h5>
                    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal(ModalAddProjects)"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="AddProjectForm">
                        <div class="form-group">
                            <label for="name_project">Name of Project</label>
                            <input id="name_project" type="text" class="form-control" placeholder="Enter Name"
                                formControlName="name_project">
                            <span class="text-danger"
                                *ngIf="AddProjectForm.controls['name_project'].dirty && AddProjectForm.hasError('required','name_project')">Name
                                is required</span>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input id="description" type="text" class="form-control" placeholder="Enter Description"
                                formControlName="description">
                            <span class="text-danger"
                                *ngIf="AddProjectForm.controls['description'].dirty && AddProjectForm.hasError('required','description')">Description
                                is required</span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"
                        (click)="closeModal(ModalAddProjects)">Close</button>
                    <button type="button" class="btn btn-success" [disabled]="!AddProjectForm.valid" (click)="SendDataPatientToDB()"
                        >Confirm</button>
                </div>
            </div>
        </div>
</div>
